*{
    text-align: inherit;
}
body{
    margin-top: 55px;
}
.BannerPortada{
    position:fixed !important; 
    top: 0px;
    display: inline-block;
    text-align: center;
}
#textBanner{
    background: transparent;
    color:whitesmoke;
    background-color:rgba(0,0,0,0);
    font-size: 25px;
    top: 5px;
    width: 60%;
    z-index: 2;
}
#nombreBanner{
    position: fixed;
    background: transparent;
    color: white;    
    font-size: 30px;
    text-align: right;
    top: 5px;
    right: 4px;
    z-index: 2;
}
#imgBannerPortada{
    height: 40px;
    width: 100%;
    right: 0px;
    z-index: 0 !important
}