.Menu{
    background-color: lawngreen;
    position: fixed;
    margin-top: -100px; 
   
    font-family: monospace;
    text-align: center;
    z-index: 10;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
span{
        border-radius: 50%;
}
*{
    background-color: lightgrey;
    position: relative;
    margin-top: 50px;
}